<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>delete</title>
</head>
<body>
<h1>Thành phố <span th:text="${cityDelete.getNameCity()}"></span></h1>
<p>
    <a th:href="@{/city}">
        Back to list city
    </a>
</p>
<div id="form">
    <form th:action="@{/city/remove}" method="post" novalidate="novalidate" th:object="${cityDelete}">
        <input type="hidden" th:field="*{id}">
        <div>
            <label>Tên: </label>
            <input type="text" th:field="*{nameCity}">
        </div>
        <div>
            <label>Quốc gia: </label>
            <input type="text" th:field="*{nameCountry}">
        </div>
        <div>
            <label>Diện tích: </label>
            <input type="text" th:field="*{square}">
        </div>
        <div>
            <label>Dân số: </label>
            <input type="text" th:field="*{population}">
        </div>
        <div>
            <label>GDP: </label>
            <input type="text" th:field="*{GDP}">
        </div>
        <div>
            <label>Giới thiệu: </label>
            <input type="text" th:field="*{description}">
        </div>
        <input type="submit" value="delete">
    </form>
</div>
</body>
</html>